<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bloyteg.AW.Animation.Seq" version="1.0.4" targetFramework="net45" />
  <package id="Bloyteg.AW.Math" version="1.0.5" targetFramework="net45" />
  <package id="Bloyteg.AW.Model.RWX" version="1.0.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="FParsec-Big-Data-Edition" version="1.0.1" targetFramework="net45" />
  <package id="LibTessDotNet" version="1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
</packages>