body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    font-family: "Segoe UI Light", "Segoe UI", "Tahoma Light", "Arial Light", Helvetica, sans-serif;

    background-color: black;
    color: white;
}

#renderArea {
    position: absolute;
    padding: 0;
    margin: 0;

    left: 240px;
    top: 0;
    right: 0;
    bottom: 0;
}

#viewport {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: none;
    display: block;
}

#renderArea #resetCamera {
    position: absolute;
    right: 8px;
    bottom: 8px;
    border: none;
    height: 2em;

    padding: 4px;
    margin: 0;

    background: #5d00a5;
    color: #fff;
}

#renderArea #resetCamera:hover {
    background: #390066;
}

#renderArea #loading {
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;

/*    visibility: hidden; */
}

#renderArea #error {
    position: absolute;
    left: 300px;
    right: 300px;
    bottom: 8px;
    padding: 4px;

    text-align: center;
    background: red;
    color: white;

    border: 2px solid white;

    visibility: hidden;
}

#renderArea #error a {
    color: white;
}

#renderArea #error a:visited {
    color: white;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    bottom: 0;
}

#sidebar .optionGroup {
    position: relative;
    margin: 0 0 0 0;
    padding: 4px 4px 8px 4px;

    background-color: #1F1F1F;

    border: none;
    border-bottom: 1px solid #5F5F5F;
}

.optionGroup .optionHeader {
    font-weight: bold;
    font-size: 1.2em;

    color: white;
}

.optionGroup .optionContent {
    padding-left: 8px;
}

.optionGroup .optionContent div {
    clear: both;
}

.optionGroup#modelSelection {
    border-right: 4px solid #ba61ff;
}

.optionGroup#controls {
   border-right: 4px solid red; 
}

.uiSelect {
    width: 140px;
    float: right;
}