body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    font-family: "Segoe UI Light", "Segoe UI", "Tahoma Light", "Arial Light", Helvetica, sans-serif;
    background-color: black;
    color: white;
}

#renderArea {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 240px;
    top: 0;
    right: 0;
    bottom: 0;
}

#viewport {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: none;
    display: block;

    cursor: crosshair;
}

#renderArea #resetCamera {
    position: absolute;
    right: 8px;
    bottom: 8px;
    border: none;
    height: 2em;
    padding: 4px;
    margin: 0;
    background: #5d00a5;
    color: #fff;
}

#renderArea #resetCamera:hover {
    background: #390066;
}

#renderArea #loading {
    margin: auto;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

#renderArea #error {
    position: absolute;
    left: 300px;
    right: 300px;
    bottom: 8px;
    padding: 4px;
    text-align: center;
    background: red;
    color: white;
    border: 2px solid white;
    visibility: hidden;
}

#renderArea #error a {
    color: white;
}

#renderArea #error a:visited {
    color: white;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    bottom: 0;
    border-right: 1px solid #333;
}

.optionGroup {
    background-color: #555;
    padding: 4px 4px 4px 4px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;

    transition: background-color 300ms;
}

.optionGroup:hover {
    background-color: black;
    border-right: none;

    transition: background-color 300ms;
}

.optionGroup[data-state=selected] {
    background-color: black;
    border-right: none;
}

.optionGroup[data-state=selected] .optionHeader {
    font-weight: bolder;
}

.optionGroup .optionHeader {
    font-weight: bold;
    font-size: 1.2em;
    color: white;

    cursor: pointer;
}

.optionGroup .optionContent {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    left: 240px;
    width: 0;
    background-color: black;
    margin-top: -30px;
    transition: all 250ms;
}

.optionGroup .optionContent > * {
    visibility: hidden;
}

.optionGroup[data-state=selected] .optionContent {
    padding: 8px 8px 8px 8px;
    width: 240px;
    border-left: none;
    transition: width 250ms;
}

.optionGroup[data-state=selected] .optionContent > * {
    visibility: visible;
}

.optionGroup[data-state=selected]#modelSelection .optionContent {
    border-right: 4px solid #ba61ff;
}

.optionGroup[data-state=selected]#controls .optionContent {
    border-right: 4px solid red;
}

.optionSetting select {
    width: 140px;
    float: right;
}

.optionSetting {
    clear: both;
}
