@{
    ViewBag.Title = "RWX Viewer by Byte";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/require.js")" data-main="/Scripts/RWXViewer"></script>
    <script src="@Url.Content("~/Scripts/config.js")"></script>
    
    <script id="fragmentShader" type="x-shader/x-fragment">
        precision mediump float;
        
        void main(void) {
            gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
        }
    </script>

    <script id="vertexShader" type="x-shader/x-vertex">
        attribute vec3 aVertexPosition;
        
        uniform mat4 uMVMatrix;
        uniform mat4 uPMatrix;
        
        void main(void) {
            gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
        }
    </script>
}

<div id="header">
    <div id="headerContent">
        <h1>RWX Viewer by Byte</h1>
    </div>
</div>

<div id="content">
    <div id="modelSelector">
        <label for="selectWorld">World:</label>
        <select id="selectWorld">
            <option>AW</option>
        </select>
        
        <label for="selectModel">Object:</label>
        <select id="selectModel">
            <option>test.rwx</option>
        </select>
    </div>

    <canvas id="viewport">
        Your browser does not support the HTML 5 Canvas element.
    </canvas>
</div>