@{
    ViewBag.Title = "RWX Viewer by Byte";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/gl-matrix.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/require.js")" data-main="/Scripts/RWXViewer"></script>
    <script src="@Url.Content("~/Scripts/config.js")"></script>
}

<div id="header">
    <div id="headerContent">
        <h1>RWX Viewer by Byte</h1>
    </div>
</div>

<div id="content">
    <div id="modelSelector" class="infoBar">
        <label for="selectWorld">World:</label>
        <select class="uiSelect" id="selectWorld" data-bind="options: worlds, optionsText: 'name', optionsCaption: '(None)', value: selectedWorld, enabled: worlds().length > 0"></select>

        <label for="selectModel">Object:</label>
        <select class="uiSelect" id="selectModel" data-bind="options: models, optionsText: 'name', optionsCaption: '(None)', value: selectedModel, enable: selectedWorld"></select>  
    </div>

    <canvas id="viewport" width="960" height="540">
        Your browser does not support the HTML 5 Canvas element.
    </canvas>
    
    <div class="infoBar">
        Left Mouse: Rotate<br />
        Right Mouse: Pan<br />
        Mouse Wheel: Zoom
    </div>
</div>
