@{
    ViewBag.Title = "RWX Viewer by Byte";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/gl-matrix.js")"></script>
    <script src="@Url.Content("~/Scripts/require.js")" data-main="/Scripts/RWXViewer"></script>
    <script src="@Url.Content("~/Scripts/config.js")"></script>
}

<div id="header">
    <div id="headerContent">
        <h1>RWX Viewer by Byte</h1>
    </div>
</div>

<div id="content">
    <div id="modelSelector" class="infoBar">
        <label for="selectWorld">World:</label>
        <select id="selectWorld">
            <option>AW</option>
        </select>
        
        <label for="selectModel">Object:</label>
        <select id="selectModel">
            <option>test.rwx</option>
        </select>
    </div>

    <canvas id="viewport" width="960" height="540">
        Your browser does not support the HTML 5 Canvas element.
    </canvas>
    
    <div class="infoBar">
        Left Mouse: Zoom<br />
        Right Mouse: Pan (not implemented)<br />
        Mouse Wheel: Zoom
    </div>
</div>